<%-include('../cabecalho.ejs')%>
        <h3>Editar Instrumento</h3>
      <div class="content">
        <form id="form-instrumento" method="post" autocomplete="off" >
          <div class="grid">
            <div>
              <label for="nome">ID do Instrumento</label>
              <input id="id" value="<%=instrumento.id%>" name="id" type="text" placeholder="Ex:Gope" required>
            </div>
            <div>
              <label for="nome">Nome do Instrumento</label>
              <input id="nome" value="<%=instrumento.nome%>" name="nome" type="text" placeholder="Ex:Gope" required>
            </div>
            <div>
              <label for="nome">Tipo do Instrumento</label>
              <input id="nome" value="<%=instrumento.tipo%>" name="tipo" type="text" placeholder="Ex:Gope" required>
            </div>
           <div class="field-help">Os campos com * são obrigatórios.</div>
            <a type="button" class="btn ghost" id="btn-cancelar" href="/instrumento/lst">Cancelar</a>
            <button type="submit" class="btn primary">Editar Instrumento</button>
        </form>
      </div>

  <%-include('../rodape.ejs')%>