
<%- include('../cabecalho.ejs')%>

    <main class="container">
        <div class="page-header">
            <h2>Lista de Instrumentos</h2>
            <a href="/instrumento/add" class="btn btn-success">+ Novo Instrumento</a>
        </div>
        <form method="post">
            <input type="text" name="pesquisar" placeholder="Nome do instrumento">
            <input type="submit" value="Buscar">
        </form>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Tipo</th>
                        <th>Editar</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    <%instrumento.forEach(instrumento => {%>
                    <tr>
                        <td><%=instrumento.nome%></td>
                        <td><%=instrumento.tipo%></td>
                        <td><a href="/instrumento/edt/<%=instrumento._id%>">Editar</a></td>
                        <td><a href="/instrumento/del/<%=instrumento._id%>">Excluir</a></td>
                    </tr>
                    <%})%>
                </tbody>
            </table>
        </div>
    </main>

<%- include('../rodape.ejs')%>
